<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lhadalo.oladahl.autowork">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegistrationActivity"
            android:parentActivityName=".activities.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.AddCompanySettingsActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.ChangePasswordActivity"
            android:parentActivityName=".activities.SettingsActivity"/>
        <activity android:name=".activities.ChangeUserinfoActivity"
            android:parentActivityName=".activities.SettingsActivity"/>
        <activity
            android:name=".activities.AddWorkpassActivity"
            android:parentActivityName=".activities.MainActivity" />

        <service android:name="com.lhadalo.oladahl.autowork.InternetService" android:enabled="true">
            <intent-filter>
                <action android:name="com.lhadalo.oladahl.autowork.InternetService"/>
            </intent-filter>
        </service>
        <activity android:name=".activities.SalaryWithTax" />

        <receiver android:name=".ConnectivityChangedReceiver"
                  android:label="ConnectivityChangeRecieiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.AddCompanyActivity"/>

        <activity android:name=".activities.WorkpassViewerActivity"/>
    </application>

</manifest>
